.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

img {
  width: 360px;
  height: 300px;
}

ul {
  list-style-type: none;
}

.gallery-item {
  flex-basis: calc((1128px - 3px) / 3);
}