/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* test */
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./back-link.css');
@import url('./footer.css');

ul {
  list-style-type: none;
}

header {
  margin: 60px auto;
}
.nav-section {
  display: flex;
  gap: 20px;
}